body {
    //@apply font-poppins;
    font-family: "Poppins", sans-serif;
}

#app {
    font-family: Poppins, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color:red;
}

p {
    color:red; !important;
}

html {
    font-size: 1.25rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
