body {
    //@apply font-poppins;
    font-family: "Poppins", sans-serif;
}

p {
    color:red; !important;
}

html {
    font-size: 1.25rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
